*.o
*.make
*.dylib
*.marks
*cache
*.dat
*.internal
*.hepmc
*.*~
html/*
build/*
build2/*
build3/*
external_packages/LBT*
external_packages/iSS*
external_packages/music*
external_packages/smash/smash_code
examples/test_hydro_files/
external_packages/freestream-milne/
external_packages/smash/smash_code/
